html {
    font-size: 120%;
    font-family: sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#numberline {
    position: relative;
    user-select: none;
    margin: 1em;
}

#numberline canvas {
    position: relative;
    /* z-index: 1; */
}

#numberline img {
    position: absolute;
    bottom: 0px;
    vertical-align: bottom;
    /* z-index: 0; */
}

.question {
    font-size: 1.5em;
}

.question .inequality {
    font-weight: bold;
    display: inline-block;
    margin: 0.5em;
}

.score {
    user-select: none;
    margin-top: 1em;
    font-size: 1.3em;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 7em;
    opacity: 1.0;
}